Package: glamox
Version: 1.0.0
Section: non-free/misc
Priority: optional
Architecture: armhf
Maintainer: Markus Haldorsen <markus@futurehome.no>
Description: Control and monitor glamox WiFi heaters from Futurehome.
