[Unit]
Description=glamox

[Service]
Type=simple
ExecStart=/opt/thingsplex/glamox/glamox
User=glamox
WorkingDirectory=/opt/thingsplex/glamox
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target